<ng-container *ngIf="cartItems.length">
    <div>Items in cart:</div>
    <app-cart-item appHighlight *ngFor="let cartitem of cartItems" [item]="cartitem" [quantity]="cartitem.quantity"
              (quantityIncrease)="onQuantityIncrease($event)"
              (quantityDecrease)="onQuantityDecrease($event)"
              (deleteItem)="onDeleteItem($event)">
    </app-cart-item>
    <div>totalcost: {{getTotalCost()}}</div>
    <div>totalQuantity: {{getTotalQuantity()}}</div>
</ng-container>
  
  <ng-container *ngIf="!cartItems.length">
    <div>Cart is empty</div>
  </ng-container>